/* animate */
.fade-enter{
  opacity: 0.01;
  transition: all 0.3s ease;
}
.fade-enter.fade-enter-active{
  opacity: 1;
}
.fade-leave{
  opacity: 1;
  transition: all 0.3s ease;
}
.fade-leave.fade-leave-active{
  opacity: 0.01;
}
/* song list choose */
.listChoose{
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -200px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 100px #333;
}
.listChoose .title{
  width: 100%;
  height: 40px;
  background: #222;
  font-size: 18px;
  color: #fff;
  padding: 7px 0 0 10px;
  position: absolute;
}
.listChoose .title i{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #eee;
  cursor: pointer;
}
.listChoose .title i:hover{
  color: white;
}
.listChoose .choose-content{
  margin-top: 40px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 360px;
  background: #eee;
}
.listChoose .choose-content .item{
  border-bottom: 1px solid #aaa;
  height: 60px;
  cursor: pointer;
  position: relative;
  background: white;
  transition: all ease 0.2s;
}
.listChoose .choose-content .item:hover{
  background: #eaeaea;
}
.listChoose .choose-content .item img{
  width: 46px;
  height: 46px;
  position: absolute;
  margin-left: 20px;
  margin-top: 7px;
}
.listChoose .choose-content .item .name{
  position: relative;
  left: 80px;
  top: 7px;
  font-size: 16px;
}
.listChoose .choose-content .item .count{
  position: absolute;
  left: 80px;
  top: 30px;
  color: #888;
}
/* song container */
.song-container .song-tools{
  position: absolute;
  bottom: 50px;
  left: 47px;
}
.song-container .song-tools .item{
  background: #fafafa;
  border-radius: 4px;
  width: 70px;
  height: 36px;
  border: 1px solid #BDBDBD;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 0 0 10px;
  color: #555;
}
.song-container .song-tools .item:hover{
  background: #eaeaea;
  color: #444;
}
.song-container .song-tools .item i{
  font-size: 18px;
  position: relative;
  left: -2px;
  top: 2px;
}
@keyframes rotate{
  from{transform:rotate(0deg);}
  to{transform:rotate(360deg);}
}
.song-container.song-container-enter{
  opacity: 0.01;
  transition: all 0.2s ease;
  overflow: hidden;
  /* width: 0;
  height: 0;*/
}
.song-container.song-container-enter.song-container-enter-active{
  overflow: hidden;
  opacity: 1;
}
.song-container.song-container-leave{
  transition: all 0.3s ease;
  opacity: 1;
}
.song-container.song-container-leave.song-container-leave-active{
  /* width: 0;
  height: 0; */
  opacity: 0.01;
  overflow: hidden;
}
.song-container{
  position: fixed;
  width: 100%;
  height: -webkit-calc(100% - 73px - 80px);
  background: white;
  bottom: 80px;
  z-index: 501;
  overflow-x: hidden;
  overflow-y: scroll;
}
.song-container .song-cover{
  width: 300px;
  height: 300px;
  position: relative;
  top: 75px;
  left: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  background-image: url("../img/webcd.png");
  background-size: cover;
  animation:19.5s linear infinite rotate;    
  box-shadow: #111 0 0 10px;
}
.song-container .song-cover img{
  width: 202px;
  height: 202px;
  border-radius: 50%;
  left: 50px;
  top: 50px;
  position: relative;
}
.song-container .song-lyric{
  margin-left: 420px;
  width: 550px;
  height: 450px;
  /* border: 1px solid #111; */
  position: absolute;
  top: 50px;
}
.song-container .song-comment{
  /* display: inline-block; */
  width: 650px;
  height: auto;
}
.song-container .toggle{
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;
  width: 40px;
  height: 28px;
  background: white;
  border-radius: 3px;
  border: 1px solid #444;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  opacity: 0.7;
}
.song-container .toggle:hover{
  color: #888;
  border: solid 1px #888;
}
.song-container .content .top{
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}
.song-container .content .bottom{
  width: 1000px;
  height: auto;
  margin: 0 auto;
}
.song-container .background{
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat-y: no-repeat; 
  opacity: 0.66;
  transition: all 0.3s ease;
}
.song-container .content{
  position: relative;
  width: 100%;
  height: auto;
  min-height: 1200px;
  margin: 0 auto;
}
/* lyric */
.lyric-container .lyric .lyric-scroll div{
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.lyric-container .lyric .lyric-scroll div.active{
  background: #333;
  opacity: 0.6;
  color: white;
  padding-left: 10px;
}
.lyric-container .lyric .lyric-scroll{
  padding-right: 10px;
  font-size: 21px;
  color: #222;
  position: relative;
  transition: all 0.3s ease;
}
.lyric-container .lyric{
  width: 500px;
  height: 310px;
  margin-top: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: transparent;
}
.lyric-container{
  width: 100%;
  height: 100%;
}
.lyric-container .info{
  color: #111;
  padding-bottom: 3px;
  border-bottom: 1px solid #444;
}
.lyric-container .info .name{
  height: 40px;
  font-size: 25px;
}
.lyric-container .info .album{
  width: 40%;
  display: inline-block;
  margin-right: 10%;
}
.lyric-container .info .artists{
  width: 40%;
  display: inline-block;
  margin-right: 10%;
}
/* comment */
.comment-container{
  width: 100%;
  height: auto;
  color: #4f4f4f;
  padding-bottom: 50px;
}
.comment-container .comment{
  width: 100%;
  height: auto;
  position: relative;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #ddd;
}
.comment-container .comment img.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
}
.comment-container .comment .content-container{
  margin: 0 0 0 60px;
  min-height: 50px;
  vertical-align: middle;
}
.comment-container .title{
  font-size: 16px;
  color: #999;
  border-bottom: 2px solid #ccc;
  padding-bottom: 7px;
}
.comment-container .sub-title{
  font-size: 18px;
  padding: 10px 0 5px 0;
  color: #888;
  border-bottom: 1px solid #ddd;
  margin-top: 15px;
}
.comment-container .title .big{
  font-size: 27px;
  margin-right: 10px;
  color: #555;
  border-bottom: 4px solid #ccc;
  padding-bottom: 7px;
}
.comment-container .comment .content-container .nickname{
  color: #1C65B5;
  cursor: pointer;
}
.comment-container .comment .content-container .time{
  color: #888;
}
.comment-container .comment .content-container .nickname:hover{
  color: #4E94E0;
}
.comment-container .comment .reply{
  position: absolute;
  right: 0;
  bottom: 5px;
  cursor: pointer;
}
.comment-container .comment .reply:hover{
  color: #1C65B5;
}
.comment-container .comment .like{
  position: absolute;
  right: 35px;
  bottom: 5px;
  cursor: pointer;
}
.comment-container .comment .like i{
  position: relative;
  top: 3px;
  right: 2px;
}
.comment-container .comment .like:hover{
  color: #1C65B5;
}
/* radioList */
.radio-container .top{
  width: 1000px;
  height: 500px;
  background: #fff;
  margin: 0 auto;
  position: relative;
}
.radio-container .bottom{
  width: 900px;
  margin: 0 auto;
  position: relative;
  left: 10px;
}
.radio-container .buttons{
  position: absolute;
  top: 400px;
  left: 82px;
}
.radio-container .buttons .button{
  display: inline-block;
  margin-right: 40px;
  font-size: 24px;
  color: #888;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid #eee;
  padding: 6px 0 0 7px;
  cursor: pointer;
  box-shadow: 0 0 5px #ddd;
}
.radio-container .buttons .button:hover{
  border: 2px solid #ddd;
}
.radio-container .buttons .button.like{
  padding: 7px 0 0 7px;
}
.radio-container .buttons .button.next{
  padding: 5px 0 0 7px;
}
.radio-container .buttons .button.plus{
  padding: 4px 0 0 9px;
}
.radio-container .radioCover{
  position: relative;
  width: 300px;
  height: 300px;
  left: 80px;
  top: 50px;
  display: inline-block;  
}
.radio-container .radioCover.active{
  z-index: 0;
}
.radio-container .radioCover img{
  width: 100%;
  height: 100%;
  display: block;
}
.radio-container .radioCover.active img{
  -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent,transparent 85%,rgba(255,255,255,.2));
}
.radio-container .radioCover .playButton{
  position: absolute;
  display: block;
  border: 2px white solid;
  width: 51px;
  height: 51px;
  font-size: 30px;
  padding: 7px 0 0 10px;
  margin-left: -25px;
  margin-top: -25px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  cursor: pointer;
  background: #111;
  opacity: 0.7;
  color: white;
  -webkit-transition: all 0.33s ease;
}
.radio-container .radioCover .playButton.glyphicon-pause{
  left: 85%;
  top: 85%;
}
.radio-container .info-container{
  width: 500px;
  position: relative;
  left: 440px;
  top: -265px;
}
.radio-container .info-container .name{
  font-size: 24px;
  width: 100%;
  height: 30px;
}
.radio-container .info-container .album{
  display: inline-block;
  width: 30%;
  margin-right: 10%;
}
.radio-container .info-container .artists{
  display: inline-block;
  width: 30%;
}
/* tracklist */
.songlist .tracklist .tracks th:last-child{
  border-right: 0!important;
}
.songlist .tracklist .tracks th{
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  padding-left: 10px;
  color: #ababab;
  font-weight: 100;
  border-top: 3px solid #BA3523;
  height: 40px;
  word-break:keep-all;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.songlist .tracklist .tracks td{
  height: 35px;
  padding-left: 10px;
  color: #414141;
  word-break:keep-all;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.songlist .tracklist .tracks tr{
  height: 40px;
}
.songlist .tracklist .tracks .tr0{
  background: #f4f4f4;
}
.songlist .tracklist table .number{
  padding-left: 35px;
  width: 60px;
  width: -webkit-calc(6%);
}
.songlist .tracklist table .controls{
  width: 80px;
  width: -webkit-calc(8%);
}
.songlist .tracklist table .name{
  width: 200px;
  width: -webkit-calc(26%);
}
.songlist .tracklist table td.name{
  cursor: pointer;
}
.songlist .tracklist table td.name:hover{
  text-decoration: underline;
}
.songlist .tracklist table .artists{
  width: 100px;
  width: -webkit-calc(13%);
}
.songlist .tracklist table .album{
  width: 200px;
  width: -webkit-calc(25%);
}
.songlist .tracklist table .duration{
  width: 100px;
  width: -webkit-calc(8%);
}
.songlist .tracklist table .heat{
  width: -webkit-calc(14%);
}
.songlist .tracklist table{
  width: 100%;
  vertical-align: center;
  font-size: 17px;
  table-layout:fixed;
}
.songlist .tracklist{
  width: 100%;
}
.songlist .info-container{
  position: relative;
  width: 100%;
  height: 380px;
}
.songlist .info-container .info{
  position: absolute;
  top: 100px;
  left: 350px;
  font-size: 15px;
}
.songlist .info-container .info .songlabel{
  display: inline-block;
  width: 40px;
  height: 30px;
  background: #E21D1D;
  position: relative;
  border-left-top-radius: 3px;
  border-left-bottom-radius: 3px;
  color: white;
  padding: 4px 0 0 10px;
  top: -10px;
}
.songlist .info-container .info .triangle-up{
    width: 0;
    height: 0;
    border-bottom: 15px solid #E21D1D;
    border-right: 18px solid transparent;
    position: absolute;
    top: 1px;
    left: 40px;
}
.songlist .info-container .info .triangle-bottom{
    width: 0;
    height: 0;
    border-top: 15px solid #E21D1D;
    border-right: 18px solid transparent;
    position: absolute;
    top: 16px;
    left: 40px;
}
.songlist .info-container .info button.play{
  outline: none;
  margin-top: 10px;
  width: 60px;
  height: 35px;
  color: white;
  border-radius: 4px;
  background: #086ed5;
}
.songlist .info-container .info button.play:hover{
  background: #055db5;

}
.songlist .info-container .info .name{
  display: inline-block;
  font-size: 30px;
  position: relative;
  left: 25px;
  top: -4px;
}
.songlist .info-container .cover{
  position: absolute;
  width: 250px;
  height: 250px;
  left: 50px;
  top: 50px;
}
.songlist .info-container .cover img{
  width: 100%;
  /* -webkit-filter: blur(5px); 
  filter: blur(5px); */
}
/* main content */
.main-content-container {
  overflow-x: hidden; 
  overflow-y: scroll;
  position: absolute;
  left: 250px;
  top: 73px;
  width: -webkit-calc(100% - 250px);
  height: -webkit-calc(100% - 73px - 80px);
  background: #fff;
}
/* login modal */
.login-back {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: #999;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.login-container {
  position: fixed!important;
  z-index: 999;
  top: 40%;
  left: 50%;
  margin-left: -250px;
  margin-top: -150px;
  width: 500px;
  height: 300px!important;
  border: 1px solid #eee;
  box-shadow: 10px 10px 60px #888;
  background: #f6f6f6;
  border-radius: 5px;
}
.login-container .title {
  display: block;
  color: #777;
  font-size: 24px;
  text-align: center;
  margin: 10px auto;
  margin-top: 30px;
  margin-bottom: 10px;
}
.login-container input {
  display: block;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  width: 320px;
  height: 40px;
  margin: 20px auto;
  text-align: center;
}
.login-container button {
  display: block;
  width: 250px;
  height: 40px;
  background: #BA3523;
  margin: 0 auto;
  outline: none;
  font-size: 24px;
  color: #fafafa;
  border-radius: 4px;
}
.login-container button:hover {
  background: #d63f39;
}
/* main-container */
.main1-container {
  background: #fff;
  position: fixed;
  z-index: 200;
  top: 73px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: -webkit-calc(100% - 73px - 80px);
}
/* small album */
.small-album {
  position: fixed;
  bottom: 79px;
  width: 250px;
  height: 100px;
  background: white;
  z-index: 105;
  border: 1px solid #d2d2d2;
  border-left: 0 solid #fff;
  transition: all 0.5s ease;
}
.small-album .tools {
  /* background: white; */
  width: 30px;
  height: 60px;
  position: absolute;
  right: 10px;
  top: 16px;
  color: #9b9b9b;
  font-size: 20px;
}
.small-album .tools i:last-child{
  font-size: 22px;
  position: relative;
  left: -2px;
}
.small-album .cover {
  width: 76px;
  height: 76px;
  position: absolute;
  display: inline-block;
  background: white;
  border-radius: 8px;
  left: 12px;
  top: 10px;
  overflow: hidden;
}
.small-album .cover .resize{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  color: white;
  font-size: 36px;
  padding: 16px 0 0 20px;
  opacity: 0;
  transiton: all 0.2s ease;
  cursor: pointer;
}
.small-album .cover:hover .resize{
  opacity: 0.5;
}
.small-album .cover img {
  width: 100%;
  height: 100%;
}
.small-album .info{
  position: absolute;
  left: 96px;
  top: 22px;
}
.small-album .info a:hover {
  text-decoration: underline;
}
.small-album .info a.name {
  color: #444;
  display: block;
  font-size: 18px;
}
.small-album .info a.name span{
  display: block;
  width: 100px;
  height: 26px;
  word-break:keep-all;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.small-album .info a.artist {
  color: #9b9b9b;
  font-size: 14px;
  width: 100px;
}
/* player */
.player .right .tasks-box div.content td.status {
  width: 60px;
  padding-left: 30px;
}
.player .right .tasks-box div.content td.status i{
  display: none;
}
.player .right .tasks-box div.content tr.active td.status i{
  display: inline!important;
}
.player .right .tasks-box div.content td.name{
  width: 360px;
  height: 25px;
  padding-left: 15px;
  word-break:keep-all;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  cursor: pointer;
}
.player .right .tasks-box div.content td.name:hover{
  text-decoration: underline;
}
.player .right .tasks-box div.content td.artists{
  width: 160px;
  height: 25px;
  padding-right: 30px;
  word-break:keep-all;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.player .right .tasks-box div.content td{
  display: inline-block;
  height: 25px;
}
.player .right .tasks-box div.content tr{
  width: 100%;
}
.player .right .tasks-box div.content {
  font-size: 17px;
  color: #717171;
  display: block;
  height: -webkit-calc(100% - 40px);
  margin-top: 40px;
  padding: 10px 0px 10px 0px;
  background: #f3f3f3;
  overflow-y: auto;
}
.player .right .tasks-box .title {
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  height: 40px;
  width: 100%;
  background: #333;
  color: white;
  padding: 3px 0 0 12px;
  font-size: 24px;
}
.player .right .tasks-box {
  position: fixed;
  right: 20px;
  width: 600px;
  height: 300px;
  overflow: hidden;
  bottom: 80px;
  z-index: 502;
  border-radius: 5px;
}
.player .right span.tasks-number {
  display: inline-block;
  margin-left: 5px;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #b8b8b8;
  border-radius: 10px;

  position: relative;
  top: -5px;
}
.player .right .lyric span{
  position: relative;
  top: -3px;
  display: block;
  width: 27px;
  height: 30px;
  font-size: 20px;
  padding: 0px 0 0 1px;
  border: 2px solid #777;
  border-radius: 4px;
}
.player .right .widget:hover {
  cursor: pointer;
  color: #111;
}
.player .right .widget {
  display: inline-block;
  position: relative;
  margin-left: 20px;
  width: 24px;
  height: 24px;
}
.player .right .volume-container .pace .already .cursor:hover {
  box-shadow: #ddd 0px 0px 5px;
}
.player .right .volume-container .pace .already .cursor {
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #d0d0d0;
  border-radius: 50%;
  position: absolute;
  background: white;
  top: -5px;
  right: -8px;
  box-shadow: #999 0px 0px 5px;
}
.player .right .volume-container .pace .already {
  width: 70%;
  height: 100%;
  background: #d63f39;
  position: relative;
}
.player .right .volume-container .pace {
  width: 150px;
  height: 6px;
  position: relative;
  display: inline-block;
  top: -6px;
  left: 6px;
  background: #d2d2d2;
}
.player .right .volume-container {
  position: relative;
  display: inline-block;
  width: 190px;
  height: 100%;
  margin-left: 10px;
  /* top: 13px; */
}
.player .right {
  color: #565656;
  font-size: 24px;
  position: absolute;
  right: 20px;
  width: 400px;
  height: 30px;
  top: 23px;
}
.player .panel .time span:first-child {
  color: #3a3a3a;
}
.player .panel .time {
  color: #979797;
  width: 90px;
  position: absolute;
  right: 0;
  top: 4px;
}
.player .pace{
  cursor: pointer;
}
.player .panel .pace .already .cursor.loading i{
  display: inline;
}
.player .panel .pace .already .cursor.loading .point{
  display: none;
}
.player .panel .pace .already .cursor i{
  position: absolute;
  left: 3px;
  top: 3px;
  font-size: 13px;
  color: #999;
  animation:1.5s linear infinite rotate;
  display: none;
}
.player .panel .pace .cursor .point {
  width: 7px;
  height: 7px;
  background: #d63f39;
  border-radius: 50%;
  position: relative;
  left: 6px;
  top: 6px;
}
.player .panel .pace .cursor:hover {
  box-shadow: #ddd 0px 0px 5px;
}
.player .panel .pace .cursor {
  cursor: pointer;
  width: 21px;
  height: 21px;
  border: 1px solid #d0d0d0;
  border-radius: 50%;
  position: absolute;
  background: white;
  top: -7px;
  right: -12px;
  box-shadow: #999 0px 0px 5px;
}
.player .panel .pace .already {
  width: 20%;
  height: 100%;
  background: #d63f39;
  position: relative;
}
.player .panel .pace {
  position: relative;
  top: 12px;
  left: 6px;
  width:-webkit-calc(100% - 110px);
  height: 6px;
  background: #d2d2d2;
}
.player .panel .pace-container {
  position: absolute;
  width: 100%;
  height: 30px;
  top: 14px;
  /* background: white; */
}
.player .panel {
  position: absolute;
  background: transparent!important;
  width: -webkit-calc(100% - 300px - 440px);
  height: 60px;
  left: 300px;
  top: 10px;
}
.player .control {
  position: relative;
  color: white;
  display: inline-block;
  font-size: 22px;
  padding: 12px 0 0 14px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #d63f39;
  margin-left: 20px;
  left: 5px;
  top: 5px;
}
.player .control:hover{
  cursor: pointer;
  background: #BA3523;
}
.player .play {
  font-size: 30px;
  width: 60px;
  height: 60px;
  padding: 14px 0 0 17px;
  top: 8px;
}
/* scroll */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  /* background: #FF66D5; */
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 4px;
}
/* tool */
.tool {
  position: fixed;
  width: 100%;
  height: 20px;
  padding-left: 10px;
  padding-top: 5px;/* 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  -webkit-app-region: drag;
}
.tool i, .tool div{
  -webkit-app-region: no-drag;
}
.circle {
  display: inline-block;
  border-radius: 50%;
}
.tool .circle{
  width: 13px;
  height: 13px;
  background: #fff;
  margin-right: 5px;
  cursor: pointer;
}
.tool .zoom {
  font-size: 18px;
  color: #8b2517;
  position: absolute;
  right: 5px;
  top: 5px;
}
.tool .zoom:hover {
  cursor: pointer;
  color: #821000;
}
/* nav */
.nav .profile-menu {
  position: fixed;
  right: 10px;
  top: 73px;
  z-index: 500;
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #aaa;
  box-shadow: 0px 2px 10px #444;
}
.nav {
  position: fixed;
  width: 100%;
  height: 53px;
  overflow: hidden;
  top: 20px;
  padding-top: 5px;
  z-index: 101;
}
.nav div {
  display: inline-block;
  height: 40px;
  position: relative;
}
.nav .logo {
  width: 50px;
  height: 50px;
  left: 12px;
  bottom: 3px;
  outline: none;
  /* background: url("./img/logo.png"); */
}
.nav .logo img {
  width: 100%;
  height: 100%;
}
.nav .logo-letters {
  width: 150px;
  left: 8px;
  outline: none;
  bottom: -3px;
  color: #fff;
  font-size: 27px;
}
.nav .btn-group {
  position: relative;
  left: 100px;
  bottom: 3px;
}
.nav .btn-group i {
  cursor: pointer;
  color: #ce674d;
  font-size: 20px;
  display: inline-block;
  padding: 6px 0 0 8px;
  width: 40px;
  height: 35px;
  border: 1px solid #9e2b1c;
}
.nav .btn-group i.active {
  color: white;
  background: #CE2221;
}
.nav .btn-group i.active:hover {
  background: #DA2B2A;
}
.nav .btn-group i:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
  left: 6px;
}
.nav .btn-group i:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nav .search-container {
  width: 350px;
  height: 33px;
  position: relative;
  left: 120px;
  bottom: 4px;
}
.nav .search-container i {
  color: #aaa;
  position: absolute;
  font-size: 22px;
  left: 10px;
  top: 5px;
}
.nav .search-container input {
  outline: none;
  font-size: 18px;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  padding: 6px 5px 5px 40px;
}
.nav .search-container input:active {
  border: 0;
}
.nav .tool-right {
  color: white;
  position: absolute;
  right: -35px;
  top: 10px;
}
.nav .tool-right i {
  position: relative;
  font-size: 22px;
  display: inline-block;
  margin-left: 40px;
  top: 3px;
  right: 80px;
}
.nav .tool-right .user {
  position: relative;
  left: -40px;
  top: -5px;
  display: inline-block;
  width: 80px;
  height: 40px;
}
.nav .tool-right .user:hover {
  cursor: pointer;
}
.nav .tool-right .avatar {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: white;
}
.nav .tool-right .avatar img {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.nav .tool-right .caret {
  position: relative;
  right: -3px;
  top: 1px;
  border-top: 6px dashed #fafafa;
  border-top: 6px solid #fafafa;
}
.nav .tool-right .caret:hover {
  border-top: 6px dashed;
  border-top: 6px solid;

}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 6px dashed;
  border-top: 6px solid\9;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
/* sidebar */
.sidebar a{
  text-decoration: none;
}
.sidebar {
  position: fixed;
  left: 0;
  margin-top: 73px;
  /* height: 100%; */
  height: -webkit-calc(100% - (73px + 80px));
  width: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #d2d2d2;
  transition: all ease 0.3s;
}
.sidebar .section {
  margin-bottom: 20px;
}
.sidebar .title {
  position: relative;
  color: #ababab;
  margin: 7px 0 5px 10px;
  font-size: 16px;
}
.sidebar .title i {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 0;
}
.sidebar .title i:hover {
  color: #333;
}
.sidebar .list {
  cursor: pointer;
  width: 100%;
  height: 39px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.sidebar .list:hover {
  background: #ccc;
}
.sidebar .active .list {
  background: #d5d5d5;
}
.sidebar .active .content {
  border-left: 4px solid #BA3523;
}
.sidebar .active i, .sidebar .active span {
  left: -4px;
}
.sidebar .list .content {
  color: #414141;
  font-size: 17px;
  position: relative;
  height: 29px;
  top: 5px;
  /* background: #777; */
}
.sidebar .list .content i {
  position: relative;
  top: 5px;
  margin-left: 24px;
  display: inline-block;
  width: 20px;
}
.sidebar .list .content span {
  position: relative;
  top: 3px;
  margin-left: 5px;
}
/* player */
.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  border-top: 1px solid #d2d2d2;
}
/* global */
.blur{
  -webkit-filter: blur(15px);
}
.reflect{
  -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent,transparent 85%,rgba(255,255,255,.2));
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-user-select:none;
}
html, body, .full {
  overflow: hidden;
  background: transparent;
  border-radius: 5px;
}
.overflow{
  word-break:keep-all;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.glyphicon-heart{
  color: red!important;
}
.red {
  background: #BA3523!important;
}
.red-active {
  background: #d70100;
}
.player-red {
  background: #d63f39;
}
.grey {
  background: #ededed!important;
}
.pink {
  background: #ee5d57!important;
}
.orange {
  background: #f8bd32!important;
}
.green {
  background: #62cb43!important;
}